.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  padding: 20px;
  background-color: #fff;
}

.subtotal__gift {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 20px 0;
}

.subtotal__gift > input {
  margin-right: 10px;
}

.subtotal__btn {
  background-color: #ffd814; /*#f0c14b*/
  border-radius: 10px;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
}
