.header-top {
  height: 60px;
  display: flex;
  background-color: #131921;
  align-items: center;
  z-index: 200;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 15px;
}

.header__nav {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
}
