button {
  background-color: #f0c14b;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.card-product {
  display: flex;
  padding-bottom: 30px;
}

.card-product__image {
  flex: 0 0 300px;
  margin-right: 40px;
  height: auto;
  width: 50px;
}

.card-product__title {
  font-size: 20px;
}
.card-product__price {
  font-size: 16px;
}

.card-product__rating {
  margin: 20px 0;
}
